h1 {
    color:gold;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: sans-serif;
    text-align: center;
  }
  p {
    font-family: sans-serif;
    text-align: center;
  }
  ul {
    line-height: 40px;
  } 
  .img{
    display: block;
    margin-left: 500px;
    margin-right: auto;
    width: 50%;
  }
  header {
    text-align: center;
    size: 16px;
  }
     
  .list{
    /* text-align: center; */
    display:flex;
    /* flex-direction: column; */
    justify-content: center; 
    
    }
    
    /* li {
    display: inline-block;
    } */
