h1 {
    color:gold;
    text-align: center;
  }
  h2 {
    color: green;
    font-style: sans-serif;
    text-align: center;
  }
  p {
    font-family: sans-serif;
    text-align: center;
  }
  ul {
    line-height: 40px;
  } 
  .img{
    display: block;
    margin-left: 500px;
    margin-right: auto;
    width: 50%;
  }
  header {
    text-align: center;
    size: 16px;
  }
     
  .list{
    
    display:flex;
    
    justify-content: center; 
    
    }
    h3 {
        color: green;
        font-style: sans-serif;
        text-align: center;
    }
h4 {
    color: yellowgreen;
    font-style: sans-serif;
    text-align: center;
}
h5 {
    color: greenyellow
    font-style: sans-serif;
    text-align: center;

} 
body {
    background-image: url("paper.gif");
    background-color: blueviolet;
   }